<% layout('layouts/boilerplate')%>

<h1>All Resorts</h1>
<div>
    <a href="/resorts/new" class="mb-3 btn btn-info">Add Resort</a>
</div>
<% for (let resort of resorts){%> 
<div class="card" mb-3>
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid" alt="" src="<%=resort.image%>">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= resort.title %> </h5>
                <p class="card-text"><%= resort.description %></p>
                <p class="card-text">
                    <small class="text-muted"><%= resort.location%></small>
                </p>
                <a class="btn btn-primary" href="/resorts/<%=resort._id%>">View <%=resort.title%></a>
            </div>
        </div>
    </div>
</div>
<% }%>