<% layout('layouts/boilerplate')%>
<h1>
    <%= resort.title %>
</h1>
<h2>
    <%= resort.location %>
</h2>
<img src="<%=resort.image%>" alt="">
<p><%=resort.description%></p>
<p> <a href="/resorts/<%=resort._id%>/edit">Edit</a>
</p>
<form action="/resorts/<%=resort._id%>?_method=DELETE" method="POST">
    <button>Delete</button>
</form>

<a href="/resorts">All Resorts</a>